footer {
    background-color: $cor-secundaria;
    padding: 25px 0px;
    color: $branco;

    h4 {
        color: $cor-primaria;
        font-size: 19px;
    }

    a {
        color: $branco;
        transition: all 0.3s linear;

        &:hover {
            color: #7c7c7c;
        }
    }

    ul {

        li.ellipsis {
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            &::after {
                content: attr(data-tooltip); 
                position: absolute;
                top: 129%; 
                left: 85%;
                background-color: $cor-secundaria; 
                color: #fff; 
                padding: 5px;
                border-radius: 5px;
                font-size: 12px;
                white-space: normal; /* Permite quebra de linha no tooltip */
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
                opacity: 0; /* Invisível por padrão */
                pointer-events: none; /* Tooltip não interfere no mouse */
                transition: opacity 0.3s ease; 
                z-index: 100; 
                max-width: 300px; 
            }

            &:hover::after {
                content: 'Camiseta de Manga Comprida';
                opacity: 1;
            }

        }
    }

}